/**
 * @since   2026-01-05 17:03:20
 * @version v3.5.7-4
 * @author  pes
 * @description
 * findPopup의 sap.m.Table 헤더 Sticky 관련 CSS 주석 처리.
 * 사유 : 컬럼 영역을 클릭 할 경우 컬럼이 아래로 밀리는 현상 발생.
 */
/* .sapMSticky .sapMTableTH {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
} */


/* .sapMSticky5 .sapMTableTH, .sapMSticky7>.sapMListInfoTBarContainer {
    top: 2.75rem;
} */